
<!DOCTYPE html>
<html class="uk-notouch uk-height-1-1" dir="ltr" lang="en-gb">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name=”description” content="Home page of the this years 2015 Mykonos Biennale  art and short film festival whose theme is Antidote.">
<meta property=”og:title” content="Mykonos Biennale 2015  - Antidote"/>
<meta property="og:type" content="website"/>
        <meta property="og:image" content="http://www.mykonosbiennale.com/images/mykonos-biennale-logo.png" />
        <meta property="og:url" content="http://www.mykonosbiennale.com/" />
        <meta property=”og:description” content="Home page of the this years 2015 Mykonos Biennale  art and short film festival whose theme is Antidote." />
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="http://www.mykonosbiennale.com/filmfestival/films/">
        <meta name=”twitter:title” content="Mykonos Biennale 2015 - Antidote">
        <meta name="twitter:description" content="Home page of the this years 2015 Mykonos Biennale  art and short film festival whose theme is Antidote." >
        <meta name="twitter:image" content="http://www.mykonosbiennale.com/images/mykonos-biennale-logo.png"> 


	<title>Mykonos Biennale - 2015 - Antidote</title>

	<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon-precomposed" href="/static/images/apple-touch-icon.png">
     <link rel="stylesheet" href="/static/css/uikit.docs.min.css" />
    <link rel="stylesheet" href="http://getuikit.com/vendor/highlight/highlight.css"> 
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/uikit.js"></script>
	<script src="/static/js/components/sticky.js"></script>
	<script src="/static/js/components/grid.js"></script>

<script src="/static/js/core/smooth-scroll.min.js"></script>
	<script src="/static/js/core/scrollspy.js"></script>

	 <script src="http://getuikit.com/vendor/holder.js"></script>
  <script src="/static/js/components/slideset.js"></script>



	<style>


	.menu {
max-width: 700px;
padding-left:0px;


	}
	.page {
		min-height: 700px;
		max-width: 700px;
		background-position: 100% 100%; 
		background-repeat: no-repeat;
		background-size: cover;

	}


	


.uk-container {
	padding: 0px 0px;

}

.uk-navbar {

	background: linear-gradient(to bottom, rgba(251, 11, 239, 0.18), #FFFDFF) repeat scroll 0% 0% border-box #F7F7F7;
	background-color: transparent; border-bottom-color: rgba(0,0,0,.3)!important; border: 0px solid rgba(0,0,0,.1);
}



 .home {
	padding: 0px 0px 0px 0x;	
		background-position: 50% 50%; 
		background-repeat: no-repeat;
		background-size: cover;
		width:100%;
		min-height: 700px;
	background-image: url(/static/images/mykonos-biennale-2015-home.jpg);
}
		/* unvisited link */
			

.home a:link {
    color: #FFF;
}

/* visited link */
.home a:visited {
    color: #fff;
}

/* mouse over link */
.home a:hover {
    color: #FF00FF;
	 text-decoration: none;
}

/* selected link */
.home  a:active {
    color: #0000FF;
}

.item { width: 15%; padding:1px;}
.item.w2 { width: 40%; }


.offical_list_links a {
 color: #FFF;
}

.offical_list_links a:hover {
    color: #FF00FF;
	 text-decoration: none;
}

	</style>
    
    
            {% for panel in page.panel_set.all %}
<style>
        {{ panel.css| safe }}
    </style>
        {% endfor %}
</head>




<body class="uk-height-1-1"  id="invite">

<div class="uk-container uk-height-1-1" >

	<div class="uk-grid"   id="biennale-introduction" data-uk-scrollspy="{repeat: true}">
		<div class="uk-width-medium-1-1 uk-container-center uk-text-justify  page home">

	

   <h1 class="uk-heading-large" style="color:white; font-weight: bold; padding-left:50px; "><a href="mykonos_biennale.html">MYKONOS BIENNALE</a></h1>

		

					<h2 class="uk-heading-large" style="color:magenta; padding-left:50px; "><a href="/2015-antidote/#antidote">2015 - Antidote</a></h2>
	<h2 style="color:magenta; padding-left:50px; " ><a href="/2013-crisis-and-paganism">2013 - Crisis &amp; Paganism</a></h2>
	<p style="padding-top:25px">

	<h1 class="uk-heading-large" style="color:red; font-weight: bold;  padding-left:50px;  line-height: 44px;"><a href="/2015-antidote/#introduction" style="color:red;">July 2nd - 6th</a></h1>
            	
					<h1 class="uk-heading-large" style="color:red; font-weight: bold;  padding-left:50px;  line-height: 44px;">August 26th &amp; 28th</h1>
	<h1 style="color:red; font-weight: bold; padding-left:50px; "><a style="color:red;" href="/2015-antidote/#introduction">Be There</a></h1>
	<h1 style="color:red; font-weight: bold; padding-left:50px; "><a style="color:red;" href="/2015-antidote/#introduction">Be In It</a></h1>
		<p><h2 style="color:red; font-weight: bold; padding:50px;"><a style="color:red;" href="/2015-antidote/#dramatic-nights">Submit your film to the Biennale Film Festival</a></h2>
<a target="_top" href="http://www.withoutabox.com/login/12396"><img src="http://www.withoutabox.com/09images/partner_box.gif" border="0" alt="link to withoutabox.com" title="Submit your film to the Biennale Film Festival"></a>

&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;

				<a href="https://filmfreeway.com/festivals/6431?utm_campaign=Submission+Button&utm_medium=External&utm_source=Submission+Button" target="_blank" title="Click to submit with FilmFreeway"><img src="https://storage.googleapis.com/filmfreeway-assets/submission_buttons/submit_btn-white_lg.png?2" title="Click to submit with FilmFreeway" style="height:53px"></a>
				</p>

	</p>

		</div>
	</div>


<div class="uk-grid mark_red" style="z-index:4;">
	<div class="uk-width-medium-1-1  uk-container-center uk-cover-background menu " >
		<div class="uk-sticky-init " data-uk-sticky >
			<nav class="uk-navbar  uk-navbar-attached" style="" >
				<a class="uk-navbar-brand uk-hidden-small uk-align-right" href="/2015-antidote/" style="z-index:14;" ><img alt = "mykonos biennale logo" width="100" src="/static/images/mykonos-biennale-logo.png"></a> 
				<ul class="uk-navbar-nav uk-hidden-small">
<li class="uk-parent" data-uk-dropdown="">
	<a href="/mykonos-biennale" >Mykonos Biennale</a>
	<div style="" class="uk-dropdown uk-dropdown-navbar">
		<ul class="uk-nav uk-nav-navbar">
			<li><a href="/mykonos-biennale#biennale-introduction">Introduction</a></li>
			<li><a href="/mykonos-biennale#biennale-statement">Statement</a></li>
			<li><a href="/mykonos-biennale#biennale-artprogram" >Art Program</a></li>
			<li><a href="/mykonos-biennale#biennale-education" >Education &amp; Internship</a><li>
			<li><a href="/mykonos-biennale#biennale-awards" >Awards</a></li>
			<li><a href="/mykonos-biennale#biennale-contact">Contact</a></li>
		</ul>
	</div>
</li>
<li class="uk-parent" data-uk-dropdown="" >
	<a href="/2015-antidote/" data-uk-smooth-scroll="{offset: 90}" style="color: magenta;">2015 Antidote</a>
	<div style="" class="uk-dropdown uk-dropdown-navbar">
		<ul class="uk-nav uk-nav-navbar">
			<li><a href="/2015-antidote/#2015-antidote" data-uk-smooth-scroll="{offset: 90}">Antidote</a></li>
			<li><a href="/2015-antidote/#2015-statement" data-uk-smooth-scroll="{offset: 90}">Statement</a></li>
			<li><a href="/2015-antidote/#2015-kite-festival" data-uk-smooth-scroll="{offset: 90}">Kite Festival</a></li>
			<li><a href="/2015-antidote/#2015-treasure-hunt" data-uk-smooth-scroll="{offset: 90}">Treasue Hunt</a><li>
			<li> <a href="/2015-antidote/#2015-weaving-residency" data-uk-smooth-scroll="{offset: 90}">Weaving Residency</a></li>
			<li class="uk-nav-header">Film &amp; Art Vieo Festival</li>
			<li><a href="/2015-antidote/#2015-video-graffiti" data-uk-smooth-scroll="{offset: 90}">Video Graffiti</a></li>
			<li><a href="/2015-antidote/#2015-dramatic-nights" data-uk-smooth-scroll="{offset: 90}">Dramatic Nights</a></li>     
			<li class="uk-nav-header" >Dance</li>
			<li><a href="/2015-antidote/#2015-pigeage" data-uk-smooth-scroll="{offset: 90}">Pigeage</a></li>
		</ul>
	</div>

</li>
<li class="uk-parent" data-uk-dropdown="">
	<a href="/2013-crisis-and-paganism/" >2013 Crises &amp; Paganism</a>
	<div style="" class="uk-dropdown uk-dropdown-navbar">
		<ul class="uk-nav uk-nav-navbar">
			<li><a href="/2013-crisis-and-paganism/#2013-invite" >Crises &amp; Paganism</a></li>
			<li><a href="/2013-crisis-and-paganism/#2013-statement" >Statement</a></li>
			<li><a href="/2013-crisis-and-paganism/#2013-events" >Events</a></li>
			<li><a href="/2013-crisis-and-paganism/#2013-venues" >Venues</a></li>
			<li><a href="/2013-crisis-and-paganism/#2013-artists" >Artists</a></li>
			<li><a href="/2013-crisis-and-paganism/#2013-press" >Press</a></li>
			<li class="uk-nav-header" >Credits</li>
			<li><a href="/2013-crisis-and-paganism/#2013-team" >Team</a></li>
			<li><a href="/2013-crisis-and-paganism/#2013-sponsors" >Sponsors</a></li>
			
		</ul>
	</div>
</li>
				</ul>
				<a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas>x</a>
				<div class="uk-navbar-brand uk-navbar-center uk-visible-small">2015 Antidote</div>
			</nav>
		</div>
	</div>
</div>


		
{% for panel in page.panel_set.all %}	
		    {% if  forloop.counter0 > 0 %} 
	<div class="uk-grid mark_red"  id="{{ panel.slug }}">
	{{panel.content|safe }}
	</div>	
    {% endif %}
{% endfor %}

<!-- <div class="uk-position-bottom  uk-sticky-init data-uk-sticky " data-uk-sticky="{boundary: '.back', target:nav}"> -->
	<footer class="footie uk-hidden-small">
		<div class="uk-container uk-container-center">
			<div class="uk-clearfixc">
				<div class="uk-align-medium-left">
					<div class="uk-panel widget_text">Copyright  © Mykonos Biennale 2013,14,15</div>
				</div>
				<div class="uk-align-medium-right">
					<div class="uk-panel widget_text">
						<a href="#" class="uk-icon-small uk-icon-twitter uk-margin-right"></a>
						<a href="#" class="uk-icon-small uk-icon-facebook uk-margin-right"></a>
						<a href="#" class="uk-icon-small uk-icon-pinterest"></a>
					</div>
				</div>
				<a class="tm-totop-scroller uk-text-center" data-uk-smooth-scroll="" href="#"></a>
			</div>
		</div>
	</footer>	
<!-- </div> -->

	</div>
<script type="text/javascript">

$('[data-uk-scrollspy]').on('outview.uk.scrollspy', function(){
     $('nav').show();
});

$('[data-uk-scrollspy]').on('inview.uk.scrollspy', function(){
      $('nav').hide();
});

// var container = document.querySelector('#container');
// var  msnry = new Masonry( container, {
// 	  // options
// 	  columnWidth: 200,
// 	  itemSelector: '.item'
// 	});
// //$("#container").hide();
// imagesLoaded( container, function() {
// //  $("#container").show(); 
//   // $('html, body').animate({
//   //       scrollTop: $("#container").offset().top
//   //   }, 10000);
//   msnry.layout();
// });




</script>
<script>
	


// function slideSwitch() {
//     var $active = $('.slideshow IMG.active');

//     if ( $active.length == 0 ) $active = $('#slideshow IMG:last');

//     var $next =  $active.next().length ? $active.next()
//         : $('#slideshow1 IMG:first');

//     $active.addClass('last-active');
        
//     $next.css({opacity: 0.0})
//         .addClass('active')
//         .animate({opacity: 1.0}, 500, function() {
//             $active.removeClass('active last-active');
//         });
// }

// $(function() {
//     setInterval( "slideSwitch()", 3000 );
// });


</script>

 <div id="offcanvas" class="uk-offcanvas">
	<div class="uk-offcanvas-bar">

                                    <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
   

                                        <li class="uk-parent">
                                            <a href="/mykonos-beinnale/" >Mykonos Biennale</a>
                                            <ul class="uk-nav-sub">
			<li><a href="/mykonos-biennale#biennale-introduction">Introduction</a></li>
			<li><a href="/mykonos-biennale#biennale-statement">Statement</a></li>
			<li><a href="/mykonos-biennale#biennale-artprogram" >Art Program</a></li>
			<li><a href="/mykonos-biennale#biennale-education" >Education &amp; Internship</a><li>
			<li><a href="/mykonos-biennale#biennale-awards" >Awards</a></li>
			<li><a href="/mykonos-biennale#biennale-contact">Contact</a></li>
                                            </ul>
                                        </li>

                                        <li class="uk-parent uk-active">
                                            <a href="#"  style="color: magenta;">2015 Antidote</a>
                                            <ul class="uk-nav-sub">
			<li><a href="/2015-antidote/#2015-antidote">Antidote</a></li>
			<li><a href="/2015-antidote/#2015-statement">Statement</a></li>
			<li><a href="/2015-antidote/#2015-kite-festival">Kite Festival</a></li>
			<li><a href="/2015-antidote/#2015-treasure-hunt">Treasue Hunt</a><li>
			<li> <a href="/2015-antidote/#2015-weaving-residency">Weaving Residency</a></li>
			<li class="uk-nav-header">Film &amp; Art Vieo Festival</li>
			<li><a href="/2015-antidote/#2015-video-graffiti">Video Graffiti</a></li>
			<li><a href="/2015-antidote/#2015-dramatic-nights">Dramatic Nights</a></li>     
			<li class="uk-nav-header" >Dance</li>
			<li><a href="/2015-antidote/#2015-pigeage">Pigeage</a></li>
                                            </ul>
                                        </li>
<li class="uk-parent">
                                            	<a href="/2013-crisis-and-paganism/" >2013 Crises &amp; Paganism</a>
                                            <ul class="uk-nav-sub">
			<li><a href="/2013-crisis-and-paganism/#2013-invite" >Crises &amp; Paganism</a></li>
			<li><a href="/2013-crisis-and-paganism/#2013-statement" >Statement</a></li>
			<li><a href="/2013-crisis-and-paganism/#2013-events" >Events</a></li>
			<li><a href="/2013-crisis-and-paganism/#2013-venues" >Venues</a></li>
			<li><a href="/2013-crisis-and-paganism/#2013-artists" >Artists</a></li>
			<li><a href="/2013-crisis-and-paganism/#2013-press" >Press</a></li>
			<li class="uk-nav-header" >Credits</li>
			<li><a href="/2013-crisis-and-paganism/#2013-team" >Team</a></li>
			<li><a href="/2013-crisis-and-paganism/#2013-sponsors" >Sponsors</a></li>
                                            </ul>
                                        </li>
                                    </ul>

                                </div>

        </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-38396033-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>