<div class="uk-grid mark_red" style="z-index:4;">
	<div class="uk-width-medium-1-1  uk-container-center uk-cover-background menu " >
		<div class="uk-sticky-init " data-uk-sticky >
			<nav class="uk-navbar  uk-navbar-attached" style="" >
				<a class="uk-navbar-brand uk-hidden-small uk-align-right" href="/2015-antidote/" style="z-index:14;" ><img alt = "mykonos biennale logo" width="100" src="/static/images/mykonos-biennale-logo.png"></a> 
				<ul class="uk-navbar-nav uk-hidden-small">
{% for page in pages %}
    <li class="uk-parent" data-uk-dropdown="">
	    <a href="/{{ page.slug }}" >{{ page.title }}</a>
	    <div style="" class="uk-dropdown uk-dropdown-navbar">
		    <ul class="uk-nav uk-nav-navbar">
                {% for panel in page.panel_set.all %}
                    {% if current_page == page %}
                    <li><a href="#{{ panel.slug }}" data-uk-smooth-scroll="{offset: 90}">{{panel.title}}</a></li>
                {% else %}
                <li><a href="/{{ page.slug }}#{{ panel.slug }}">{{panel.title}}</a></li>
                 {% endif %}
                {% endfor %}
            </ul>
        </div>
    </li>
{% endfor %}   
		</ul>
				<a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas>x</a>
				<div class="uk-navbar-brand uk-navbar-center uk-visible-small">2015 Antidote</div>
			</nav>
		</div>
	</div>
</div>


<div id="offcanvas" class="uk-offcanvas">
	<div class="uk-offcanvas-bar">

                                    <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
   

                                        <li class="uk-parent">
                                            <a href="/mykonos-beinnale/" >Mykonos Biennale</a>
                                            <ul class="uk-nav-sub">
			<li><a href="/mykonos-biennale#biennale-introduction">Introduction</a></li>
			<li><a href="/mykonos-biennale#biennale-statement">Statement</a></li>
			<li><a href="/mykonos-biennale#biennale-artprogram" >Art Program</a></li>
			<li><a href="/mykonos-biennale#biennale-education" >Education &amp; Internship</a><li>
			<li><a href="/mykonos-biennale#biennale-awards" >Awards</a></li>
			<li><a href="/mykonos-biennale#biennale-contact">Contact</a></li>
                                            </ul>
                                        </li>

                                        <li class="uk-parent uk-active">
                                            <a href="#"  style="color: magenta;">2015 Antidote</a>
                                            <ul class="uk-nav-sub">
			<li><a href="/2015-antidote/#2015-antidote">Antidote</a></li>
			<li><a href="/2015-antidote/#2015-statement">Statement</a></li>
			<li><a href="/2015-antidote/#2015-kite-festival">Kite Festival</a></li>
			<li><a href="/2015-antidote/#2015-treasure-hunt">Treasue Hunt</a><li>
			<li> <a href="/2015-antidote/#2015-weaving-residency">Weaving Residency</a></li>
			<li class="uk-nav-header">Film &amp; Art Vieo Festival</li>
			<li><a href="/2015-antidote/#2015-video-graffiti">Video Graffiti</a></li>
			<li><a href="/2015-antidote/#2015-dramatic-nights">Dramatic Nights</a></li>     
			<li class="uk-nav-header" >Dance</li>
			<li><a href="/2015-antidote/#2015-pigeage">Pigeage</a></li>
                                            </ul>
                                        </li>
<li class="uk-parent">
                                            	<a href="/2013-crisis-and-paganism/" >2013 Crises &amp; Paganism</a>
                                            <ul class="uk-nav-sub">
			<li><a href="/2013-crisis-and-paganism/#2013-invite" >Crises &amp; Paganism</a></li>
			<li><a href="/2013-crisis-and-paganism/#2013-statement" >Statement</a></li>
			<li><a href="/2013-crisis-and-paganism/#2013-events" >Events</a></li>
			<li><a href="/2013-crisis-and-paganism/#2013-venues" >Venues</a></li>
			<li><a href="/2013-crisis-and-paganism/#2013-artists" >Artists</a></li>
			<li><a href="/2013-crisis-and-paganism/#2013-press" >Press</a></li>
			<li class="uk-nav-header" >Credits</li>
			<li><a href="/2013-crisis-and-paganism/#2013-team" >Team</a></li>
			<li><a href="/2013-crisis-and-paganism/#2013-sponsors" >Sponsors</a></li>
                                            </ul>
                                        </li>
                                    </ul>

                                </div>

        </div>


