<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name=”description” content="Mykonos Biennale 2015 Film festival Official Selection">
        <meta name=”description” content="">
        <meta property=”og:title” content="Mykonos Biennale 2015 Official Selection."/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="http://www.mykonosbiennale.com/images/mykonos-biennale-logo.png" />
        <meta property="og:url" content="/filmfestival/films/" />
        <meta property=”og:description” content="" />
       <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="/filmfestival/film//">
        <meta name=”twitter:title” content="Mykonos Biennale 2015 Official Selection - , dir. by ,  minutes, ">
        <meta name="twitter:description" content="" >
        <meta name="twitter:image" content="http://www.mykonosbiennale.com/images/mykonos-biennale-logo.png"> 
   
        <title>Slideset component - UIkit documentation</title>
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
        <link id="data-uikit-theme" rel="stylesheet" href="css/uikit.min.css">
        <link rel="stylesheet" href="css/film_detail.css">
        <link rel="stylesheet" href="http://getuikit.com/vendor/highlight/highlight.css">
        <link rel="stylesheet" href="css/film_detail.css">

        <script src="http://getuikit.com/vendor/jquery.js"></script>
        <script src="js/uikit.min.js"></script>
        <script src="http://getuikit.com/vendor/highlight/highlight.js"></script>
        <script src="js/holder.js"></script>
        <script src="http://getuikit.com/docs/js/docs.js"></script>
        <script src="js/components/slideset.js"></script>
<style>
  
        </style>
    </head>

<body class="uk-height-1-1"  id="invite">

<div class="uk-container uk-height-1-1" >
<div class="uk-grid mark_red" style="z-index:4;">
	<div class="uk-width-medium-1-1  uk-container-center uk-cover-background menu " >
		<div class="uk-sticky-init " data-uk-sticky >
			<nav class="uk-navbar  uk-navbar-attached" style="" >
				<a class="uk-navbar-brand uk-hidden-small uk-align-right" href="index.html" style="z-index:14;" ><img alt = "mykonos biennale logo" width="100" src="http://www.mykonosbiennale.com/images/mykonos-biennale-logo.png"></a> 
				<ul class="uk-navbar-nav uk-hidden-small">
<li class="uk-parent" data-uk-dropdown="">
	<a href="mykonos_biennale.html" >Mykonos Biennale</a>
	<div style="" class="uk-dropdown uk-dropdown-navbar">
		<ul class="uk-nav uk-nav-navbar">
			<li><a href="mykonos_biennale.html#biennale-introduction">Introduction</a></li>
			<li><a href="mykonos_biennale.html#biennale-statement">Statement</a></li>
			<li><a href="mykonos_biennale.html#biennale-artprogram" >Art Program</a></li>
			<li><a href="mykonos_biennale.html#biennale-education" >Education &amp; Internship</a><li>
			<li><a href="mykonos_biennale.html#biennale-awards" >Awards</a></li>
			<li><a href="mykonos_biennale.html#biennale-contact">Contact</a></li>
		</ul>
	</div>
</li>
<li class="uk-parent" data-uk-dropdown="" >
	<a href="index.html" data-uk-smooth-scroll="{offset: 90}" style="color: magenta;">2015 Antidote</a>
	<div style="" class="uk-dropdown uk-dropdown-navbar">
		<ul class="uk-nav uk-nav-navbar">
			<li><a href="index.html#2015-antidote" data-uk-smooth-scroll="{offset: 90}">Antidote</a></li>
			<li><a href="index.html#2015-statement" data-uk-smooth-scroll="{offset: 90}">Statement</a></li>
			<li><a href="index.html#2015-kite-festival" data-uk-smooth-scroll="{offset: 90}">Kite Festival</a></li>
			<li><a href="index.html#2015-treasue-hunt" data-uk-smooth-scroll="{offset: 90}">Treasue Hunt</a><li>
			<li> <a href="index.html#2015-weaving-conspiracy" data-uk-smooth-scroll="{offset: 90}">Weaving Conspiracy</a></li>
			<li class="uk-nav-header">Film &amp; Art Vieo Festival</li>
			<li><a href="index.html#2015-video-graffiti" data-uk-smooth-scroll="{offset: 90}">Video Graffiti</a></li>
            <li><a href="/filmfestival/video-graffiti/">Video Graffiti - Official Selection</a></li>
			<li><a href="index.html#2015-dramatic-nights" data-uk-smooth-scroll="{offset: 90}">Dramatic Nights</a></li>
            <li><a href="/filmfestival/video-graffiti/">Dramatic Nights - Official Selection</a></li>
            <li><a href="/filmfestival/documentaries/">Documentary Toughts - Official Selection</a></li>
			<li class="uk-nav-header" >Dance</li>
			<li><a href="index.html#2015-pigeage" data-uk-smooth-scroll="{offset: 90}">Pigeage</a></li>
		</ul>
	</div>
</li>
<li class="uk-parent" data-uk-dropdown="">
	<a href="2013-Crises-and-Paganism.html" >2013 Crises &amp; Paganism</a>
	<div style="" class="uk-dropdown uk-dropdown-navbar">
		<ul class="uk-nav uk-nav-navbar">
			<li><a href="2013-Crises-and-Paganism.html#2013-invite" >Crises &amp; Paganism</a></li>
			<li><a href="2013-Crises-and-Paganism.html#2013-statement" >Statement</a></li>
			<li><a href="2013-Crises-and-Paganism.html#2013-events" >Events</a></li>
			<li><a href="2013-Crises-and-Paganism.html#2013-venues" >Venues</a></li>
			<li><a href="2013-Crises-and-Paganism.html#2013-artists" >Artists</a></li>
			<li><a href="2013-Crises-and-Paganism.html#2013-press" >Press</a></li>
			<li class="uk-nav-header" >Credits</li>
			<li><a href="2013-Crises-and-Paganism.html#2013-team" >Team</a></li>
			<li><a href="2013-Crises-and-Paganism.html#2013-sponsors" >Sponsors</a></li>
			
		</ul>
	</div>
</li>
				</ul>
				<a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas>x</a>
				<div class="uk-navbar-brand uk-navbar-center uk-visible-small">2015 Antidote</div>
			</nav>
		</div>
	</div>
</div




<div class="uk-grid mark_red"  id="film">
		<div class="uk-width-medium-1-1 uk-text-justify uk-container-center page film ">

             












            <article class="uk-comment">
    <header class="uk-comment-header">
     
        <h4 class="uk-comment-title"><a href="/filmfestival/film/288/">Boccanegra With Placido Domingo</a></h4>
            <div class="uk-comment-meta">dir. by Thomas Storesund, 18 minutes, USA</div>
        <div class="uk-comment-body">This short subject documentary follows Placido Domingo in an intimate behind the scenes look into the staging of Verdi&#39;s opera &#39;Simon Boccanegra.&#39;</div>
    </header>
    
</article>
             


             
             <article class="uk-comment">
    <header class="uk-comment-header">
     
        <img class="uk-comment-avatar" src="http://com.mykonosbiennale.static.s3.amazonaws.com/images/mykonos-biennale-2015-film-festival-bread-or-blood-jack-chapman-poster.jpg" style="height:150px;"  alt="Bread or Blood Poster">
           
        <h4 class="uk-comment-title"><a href="/filmfestival/film/319/">Bread Or Blood</a></h4>
            <div class="uk-comment-meta">dir. by Jack Chapman, 21 minutes, USA</div>
        <div class="uk-comment-body">A different kind of road movie, Bread or Blood carries the viewer on a journey along rails and rivers, following the route across the United States taken by Kelly&#39;s Army in 1894.  Contemporary voices punctuate movement through the landscapes that surround America&#39;s old arteries. Steel wheels are polished bright by thousands of miles of rail as the stories of America echo down the mountains, deserts, high plains, and fields of corn, all the way to the meandering currents and eddies of the Des Moines, Mississippi, and Ohio Rivers.</div>
    </header>
    
</article>
             


             
             <article class="uk-comment">
    <header class="uk-comment-header">
     
        <h4 class="uk-comment-title"><a href="/filmfestival/film/283/">Brooklyn United</a></h4>
            <div class="uk-comment-meta">dir. by Tracey Anarella, 11 minutes, USA</div>
        <div class="uk-comment-body">Brooklyn United is a story of redemption. Ty Brown is Executive Director of Brooklyn United, a marching band, one hundred fifty strong.  As Ty states, BU is what keeps these young people off the streets, from gangs and worse.  BU opens with drummer, Brandon Little, who raps BU&#39;s story from the beginning to the present.  During the film, we experience Ty&#39;s sudden fall from grace due to alleged sexual misconduct with an underage female band member and Ty&#39;s path of redemption and rebirth after a long exile form all he&#39;s ever known. We see the man, the father and the band director turn his life around, creating and growing BU, all while saving the lives of the young people of Crown Heights, Brooklyn.</div>
    </header>
    
</article>
             


             
             <article class="uk-comment">
    <header class="uk-comment-header">
     
        <h4 class="uk-comment-title"><a href="/filmfestival/film/329/">Cosmic Journey</a></h4>
            <div class="uk-comment-meta">dir. by Jonathan Kitzen, 22 minutes, </div>
        <div class="uk-comment-body">A stunningly beautiful, totally immersive space journey from Shuttle launch to the far edge of the known universe and back.</div>
    </header>
    
</article>
             


             
             <article class="uk-comment">
    <header class="uk-comment-header">
     
        <h4 class="uk-comment-title"><a href="/filmfestival/film/310/">Jesse And The Fountain Of Youth</a></h4>
            <div class="uk-comment-meta">dir. by Tracey Anarella, 12 minutes, USA</div>
        <div class="uk-comment-body">The movie is about a street musician named Jesse.  The movie takes us through Jesse&#39;s continuous challenge of negotiating the line between &#39;busking&#39; in the subways and keeping the momentum of advancing his career as a musician above ground. We accompany Jesse on this journey by hearing him play for money in the NYC subway system.Through interviews with Jesse and living through the steps of having one of his songs produced, the audience shares with Jesse this ambivalence about staying &#39;underground&#39; as a musician or taking the traditional route of chasing him dream &#39;above ground&#39;.</div>
    </header>
    
</article>
             


             
             <article class="uk-comment">
    <header class="uk-comment-header">
     
        <h4 class="uk-comment-title"><a href="/filmfestival/film/327/">Kehinde Wiley: An Economy Of Grace</a></h4>
            <div class="uk-comment-meta">dir. by Jeff Dupre, 40 minutes, USA</div>
        <div class="uk-comment-body">Famous for his vibrant reinterpretations of classical portraits featuring African-American men, New York-based painter Kehinde Wiley has turned the practice of portraiture on its head and in the process has taken the art world by storm.Kehinde Wiley: An Economy of Grace follows the artist as he steps out of his comfort zone to create a series of paintings of women for the first time. Kehinde casts his models on the streets of New York and then enlists Riccardo Tisci of Givenchy to create couture gowns for each woman. The film traces the artist&#39;s process from concept to canvas as he reveals to us another side of black femininity.</div>
    </header>
    
</article>
             


             
             <article class="uk-comment">
    <header class="uk-comment-header">
     
        <h4 class="uk-comment-title"><a href="/filmfestival/film/341/">Made You Look</a></h4>
            <div class="uk-comment-meta">dir. by Sigal Yona, 15 minutes, Israel</div>
        <div class="uk-comment-body">A portrait of two street artists who turn utilitarian structures and objects into works of art reflecting nature.</div>
    </header>
    
</article>
             


             
             <article class="uk-comment">
    <header class="uk-comment-header">
     
        <h4 class="uk-comment-title"><a href="/filmfestival/film/378/">Oval Room</a></h4>
            <div class="uk-comment-meta">dir. by Jeff Wyatt  Wilson, 4 minutes, USA</div>
        <div class="uk-comment-body">Politically charged, witty, sexy... and raw, &#39;Oval Room&#39; was officially released today by International runway model Gin Cooley. Gin recorded the song herself in rural west Tennessee with the most nominal equipment (yardsale electronics) on zero budget and no training. Indie Film director/DP Jeff Wyatt Wilson captured the authenticity of the song after visiting Gin in her rural hometown Paris Tennessee, where the song was originally recorded. Oval Room was written by Blaze Foley, an American singer/songwriter based out of Austin Texas. Foley initially wrote the song about Ronald Reagan, but Cooley&#39;s rendition takes a much broader approach. To Gin, the song speaks corporate America and the great monopolies of the western worlds as well as the obvious political scrutiny. Viewers can enjoy some infamous presidential bloopers while watching Gin perform in hopes of easing some tension in the upcoming presidential election.</div>
    </header>
    
</article>
             
             

      









        </div>
     </div>
     </div>
    
    
    <div id="offcanvas" class="uk-offcanvas">
	<div class="uk-offcanvas-bar">

                                    <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
   

                                        <li class="uk-parent">
                                            <a href="#" >Mykonos Biennale</a>
                                            <ul class="uk-nav-sub">
												<li><a href="mykonos_biennale.html#biennale-introduction">Introduction</a></li>
												<li><a href="mykonos_biennale.html#biennale-statement">Statement</a></li>
												<li><a href="mykonos_biennale.html#biennale-artprogram" >Art Program</a></li>
												<li><a href="mykonos_biennale.html#biennale-education" >Education &amp; Internship</a><li>
												<li><a href="mykonos_biennale.html#biennale-awards" >Awards</a></li>
												<li><a href="mykonos_biennale.html#biennale-contact">Contact</a></li>
                                            </ul>
                                        </li>

                                        <li class="uk-parent uk-active">
                                            <a href="#"  style="color: magenta;">2015 Antidote</a>
                                            <ul class="uk-nav-sub">
			<li><a href="index.html#2015-antidote" >Antidote</a></li>
			<li><a href="index.html#2015-statement" >Statement</a></li>
			<li><a href="index.html#2015-kite-festival" >Kite Festival</a></li>
			<li><a href="index.html#2015-treasue-hunt" >Treasue Hunt</a><li>
			<li> <a href="index.html#2015-weaving-conspiracy" >Weaving Conspiracy</a></li>
			<li class="uk-nav-header">Film &amp; Art Vieo Festival</li>
			<li><a href="index.html#2015-video-graffiti" >Video Graffiti</a></li>
			<li><a href="index.html#2015-dramatic-nights" >Dramatic Nights</a></li>
			<li class="uk-nav-header" >Dance</li>
			<li><a href="index.html#2015-pigeage" >Pigeage</a></li>
                                            </ul>
                                        </li>
<li class="uk-parent">
                                            	<a href="#" >2013 Crises &amp; Paganism</a>
                                            <ul class="uk-nav-sub">
							<li><a href="2013-Crises-and-Paganism.html#2013-invite" >Crises &amp; Paganism</a></li>
			<li><a href="2013-Crises-and-Paganism.html#2013-statement" >Statement</a></li>
			<li><a href="2013-Crises-and-Paganism.html#2013-events" >Events</a></li>
			<li><a href="2013-Crises-and-Paganism.html#2013-venues" >Venues</a></li>
			<li><a href="2013-Crises-and-Paganism.html#2013-artists" >Artists</a></li>
			<li><a href="2013-Crises-and-Paganism.html#2013-press" >Press</a></li>
			<li class="uk-nav-header" >Credits</li>
			<li><a href="2013-Crises-and-Paganism.html#2013-team" >Team</a></li>
			<li><a href="2013-Crises-and-Paganism.html#2013-sponsors" >Sponsors</a></li>
                                            </ul>
                                        </li>
                                    </ul>

                                </div>

        </div>

    
    
    
    </body>
</html>