{% load compress %}
{% load re_tags %}
{% load thumbnail %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include "seo.html" %}

<link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">


        
{% compress css %}
<link rel="stylesheet" href="{% static "uikit/css/uikit.min.css" %}">
{% endcompress %}
{% compress js %}
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/modernizr.js" %}"></script>
<script src="{% static "uikit/js/uikit.min.js" %}"></script>
<script src="{% static "uikit/js/components/slider.js" %}"></script>
<script src="{% static "uikit/js/components/slideset.js" %}"></script>
<script src="{% static "uikit/js/components/slideshow.js" %}"></script>
<script src="{% static "uikit/js/components/slideshow-fx.js" %}"></script>
<script src="{% static "uikit/js/components/grid.js" %}"></script>
{% endcompress %}
<style>

.uk-navbar {

	background: linear-gradient(to bottom, rgba(251, 11, 239, 0.18), #FFFDFF) repeat scroll 0% 0% border-box #F7F7F7;
	background-color: transparent; border-bottom-color: rgba(0,0,0,.3)!important; border: 0px solid rgba(0,0,0,.1);
}


 li.uk-active>a {
 	color: magenta!important;
 }
</style>
</head>

<body class="uk-height-1-1"  id="invite">
<div class="uk-container uk-container-center uk-margin-large">
{% include "nav_bar.html" %}        
            
<div class="uk-grid " >
  <div class="uk-width-medium-1-1 ">
    <article class="uk-comment">
    <header class="uk-comment-header">
         {% if object.poster %}
                {% thumbnail film.poster "200" crop="center" as im %}
        <img class="uk-comment-avatar" src="{{im.url}}"    width="{{im.width}}" height="{{im.height}}"  alt="{{object.title}} Poster">
                {% endthumbnail %}
           {% endif %}
            <h1>{{object.title|title}}</h1>
          </header>
          <div class="uk-comment-meta">
              dir. by <span style="color:black; font-size:125%;">{{object.dir_by|title}}</span>, {{object.country}}<br/>
                  runtime: {{object.runtime}} min<br/>
              
             {% if film.screening_set.count %} screening: 
                {% for screening in film.screening_set.all %}
                    {{ screening.day.date|date:"F jS"  }}
                {% endfor %}
                {% endif %}</div>
        <div class="uk-comment-body" style="padding-top:10px;">
            {% if film.synopsis %}
            {{film.synopsis}}
            {% else %}
            {{film.log_line}}
            {% endif %}


        </div>
      
{% if film.actors %}     
        {% re_split "[\n,]*" film.actors as cast %}
        <h3> Cast </h3>
            <ul class="uk-list">
                {% for actor in cast %}
                <li> {{ actor }}</li>
          {% endfor %}
          </ul>
{% endif %}
                            
    <h3> Credits </h3>
                            <dl class="uk-description-list-horizontal">
            {% if film.directors %}  <dt>Directors</dt><dd>{{ film.directors }}</dd> {% endif %}
            {% if film.screenwriters %} <dt>Screenwriters</dt><dd> {{ film.screenwriters }}</dd>{% endif %}
            {% if film.producers %}  <dt>Producers</dt><dd>{{ film.producers }}</dd>{% endif %}
            {% if film.exec_producers %}  <dt>Exec producers</dt><dd>{{ film.exec_producers }}</dd>{% endif %}
            {% if film.co_producers %}  <dt>Co producers</dt><dd>{{ film.co_producers }}</dd>{% endif %}
             {% if film.cinematographers %}  <dt>Cinematographers</dt><dd>{{ film.cinematographers }}</dd>{% endif %}
            {% if film.product_designers %}  <dt>Product designers</dt><dd>{{ film.product_designers }}</dd>{% endif %}
            {% if film.art_directors %}  <dt>Art directors</dt><dd> {{ film.art_directors }}</dd>{% endif %}
            {% if film.editors %}  <dt>Editors</dt><dd> {{ film.editors }}</dd>{% endif %}
            {% if film.sound_editors %}  <dt>Sound editors</dt><dd> {{ film.sound_editors }}</dd>{% endif %}
             {% if film.composers %}  <dt>Composers</dt><dd> {{ film.composers }}</dd>{% endif %}
            </dl>

        <div class="uk-grid uk-container-center">
        <div class="uk-align-center">
          {% if film.trailer_embed %}
        {{ film.trailer_embed|safe}}
          {% else %}
        
        {% if film.trailer_url %}
                <video id="video" controls class="uk-responsive-width uk-container-center"  style="padding:5px 0 50px 0;">
                    <source src="{{film.trailer_url|safe}}" type="video/mp4">
                    <source src="{{film.trailer_url|replace_ext:"WebM"}}" type="video/webm">
                    <source src="{{film.trailer_url|replace_ext:"ogv"}}" type="video/ogg">
                </video>
          {% endif %}

        {% endif %}
</div>
        </div>
<div class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 " data-uk-grid="{gutter: 20}">
       
                
                                            
{% for image in film.filmfestival_image_related.all %}
                                     
                {% if image.image %}
             {% thumbnail image.image "x640" crop="center" quality=60 as thum %}
                     <div><a href="{{image.image.url}}" target="_blank"><img src="{{thum.url}}" class="uk-responsive-width" width="{{thum.width}}" height="{{thum.height}}" alt="Mykonos Biennale 2015 - Film Festival -  {{image.title}} - screen shot" /></a></div>
                      {% endthumbnail %}    
            {% endif %}
            {% endfor %}                       


</div>

             {% if film.screenings %} 
        <h3> Screenings </h3>
        {% re_split "\s*,\s*" film.screenings as screenings %}
            <ul class="uk-list">
                {% for screening in screenings %}
                <li> {{ screening }}</li>
          {% endfor %}
          </ul>
        {% endif %}   
        
        
        {% if film.directors_statement %} 
        <h3>Directors Statement</h3>
        <p>{{film.directors_statement|linebreaksbr}}</p>
        {% endif %}




         {% if object.poster %}
<div style="padding-top:10px;">
        <a href="http://com.mykonosbiennale.static.s3.amazonaws.com/{{object.poster}}" target="_blank"><i class="uk-icon-download"></i> download poster</a>
</div>
        {% endif %}
</article>
     

     
        </div>
     </div>
 </div>
    
    
  
<script>
   $(function() { 
       
if (Modernizr.video.h264 ) {
      $("#video").show();
} else {
      $("#video").hide();       
}
              });                 
</script>
    
    
    
    </body>
</html>
    
