{% load re_tags %}
{% load thumbnail %}
{% load staticfiles %}
{% load variable_tags %}
<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include "seo.html" %}

<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">

        
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/uikit/css/uikit.min.css">
<link rel="stylesheet" href="/static/uikit/css/components/slidenav.css">
<link rel="stylesheet" href="/static/uikit/css/components/slider.css">
<link rel="stylesheet" href="/static/uikit/css/components/slideset.css">
<link rel="stylesheet" href="/static/css/film_detail.css">
 

<script src="/static/js/jquery.js"></script>
<script src="/static/uikit/js/uikit.min.js"></script>
<script src="/static/uikit/js/components/slider.js"></script>
<script src="/static/uikit/js/components/slideset.js"></script>
<style>
.uk-panel {padding: 50px;}
.page { padding-left:0px; }
</style>
</head>

<body class="uk-height-1-1"  id="invite">
<div class="uk-container uk-height-1-1" >
{% include "nav_bar.html" %}

<div class="uk-grid mark_red"  id="film">
    
    
		<div class="uk-width-medium-1-1  uk-container-center page film ">
                         
<div class="uk-grid">
     {% for day in program.day_set.all %}
    <div class="uk-width-medium-1-5">
       <h2>{{day.date|date:"F jS"}}</h2>
        <dl>
        {% for screening in day.screening_set.all %}
            <dt><a href="{{ screening.film.get_absolute_url }}">{{screening.film }}</a></dt>
        <dd>{{screening.start_time|time:"H:i" }}</dd>
        </dl>
        
       
            {% endfor %}
    </div>
     {% endfor %}
</div>
       

            
       

    </tr>
    </thead>
</table>
     
        </div>
     </div>
     </div>
    
    

    
    
    </body>
</html>