Django==1.11.28
ExifRead==2.1.2
Pillow==3.0.0
PyYAML==3.11
Unidecode==0.04.18
Wand==0.4.1
argparse==1.2.1
beautifulsoup4==4.5.1
boto==2.38.0
chardet==2.0.1
colorama==0.3.9
configparser==3.5.0
csscompressor==0.9.3
cssselect==0.9.1
dj-static==0.0.6
django-appconf==1.0.2
django-autoslug==1.9.3
django-bakery==0.8.14
django-compressor==2.1.1
django-countries==3.3
django-extensions==1.7.9
django-freeze==0.5.3
django-haystack==2.5.0
django-imagekit==3.3
django-medusa==0.3.0
django-minipub==1.2
django-model-utils==3.0.0
django-phonenumber-field==0.7.2
django-photologue==3.6
django-pipeline==1.5.0
django-polymorphic==0.7.2
django-redis==4.1.0
django-sortedm2m==1.3.3
django-stdimage==2.3.3
django-storages==1.5.2
django-tagulous==0.11.1
django-versatileimagefield==1.7.0
djangorestframework==3.1.2
djangorestframework-jsonp==1.0.0
docutils==0.7
enum34==1.0.4
flake8==3.3.0
flake8-polyfill==1.0.1
funcsigs==1.0.2
futures==2.2.0
gunicorn
html5lib==0.999
jmespath==0.7.1
jsmin==2.1.1
mando==0.3.3
mccabe==0.6.1
meld3==1.0.2
mock==2.0.0
msgpack-python==0.4.6
nameparser==0.5.2
netifaces==0.10.4
numpy==1.5.0
oauthlib==0.7.2
pathlib==1.0.1
pbr==2.0.0
phonenumbers==7.0.5
pilkit==1.1.13
ply==3.6
progressbar2==3.10.1
psycopg2==2.4.5
pyScss==1.3.3
pycodestyle==2.3.1
pycparser==2.10
pycrypto==2.3
pyflakes==1.5.0
python-memcached==1.54
python-utils==2.0.0
pytz==2016.10
queuelib==1.2.2
radon==1.4.2
rcssmin==1.0.6
redis==2.10.3
reportlab==2.4
requests
rjsmin==1.0.12
six==1.10.0
slimit==0.8.1
snakefood==1.4
sorl-thumbnail==12.3
static3==0.7.0
supervisor==3.2.2
twython==3.2.0
urllib3==1.7.1
virtualenv==1.11.6
whitenoise==3.3.0
wsgiref==0.1.2
xenon==0.5.0
xmltodict==0.10.2
