{% load re_tags %}
{% load thumbnail %}
{% load staticfiles %}
{% load pipeline %}
<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
{% include "seo.html" %}
<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
        
        
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<link rel="stylesheet" href="/static/uikit/css/uikit.min.css">
<link rel="stylesheet" href="/static/uikit/css/components/slidenav.css">
<link rel="stylesheet" href="/static/uikit/css/components/slider.css">
<link rel="stylesheet" href="/static/uikit/css/components/slideshow.css">
<link rel="stylesheet" href="/static/css/film_detail.css">
 

<script src="/static/js/jquery.js"></script>
<script src="/static/uikit/js/uikit.min.js"></script>
<script src="/static/uikit/js/components/grid.js"></script>
	<style>
		.uk-panel {
			width:250px; height: 140px; background-color: cyan;
		}

	
    </style>
</head>

<body class="uk-height-1-1"  id="invite">
	 <div class="uk-container uk-container-center">
		<div class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4" >
		{% for art in object_list %}
			{% if art.photo %}
			<div>
				
			</div><div class="uk-panel">
				{% thumbnail art.photo  "300" crop="center"  quality=60 as photo %}
				<img src="{{ photo }}" class="uk-responsive-width" width="{{photo.width}}" height="{{photo.height}}" alt="Mykonos Biennale 2015 - Film Festival -  {{art.title}) - screen shot" />
				{% endthumbnail %}  
			</div><div>
			
			</div>
			{% endif %}
		{% endfor %}
		</div>    
	</div>
</body>
</html>
