{% load re_tags %}
{% load thumbnail %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "seo.html" %}
<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
        
        
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/uikit/css/uikit.min.css">
<link rel="stylesheet" href="/static/uikit/css/components/slidenav.css">
<link rel="stylesheet" href="/static/uikit/css/components/slider.css">
<link rel="stylesheet" href="/static/uikit/css/components/slideset.css">
<link rel="stylesheet" href="/static/css/film_detail.css">
        
<script src="/static/js/jquery.js"></script>
<script src="/static/uikit/js/uikit.min.js"></script>
<script src="/static/uikit/js/components/slider.js"></script>
<script src="/static/uikit/js/components/slideset.js"></script>
<style>
.uk-panel {padding: 50px;}
.page { padding-left:0px; }
</style>
</head>

<body class="uk-height-1-1"  id="invite">
<div class="uk-container uk-height-1-1" >
{% include "nav_bar.html" %}




<div class="uk-grid mark_red"  id="film">
    
    
		<div class="uk-width-medium-1-1  uk-container-center page film ">
                         
                                
    <article class="uk-comment">
    <header class="uk-comment-header">
         {% if object.headshot %}
    {% thumbnail artist.headshot  "150" crop="center" colorspace="GRAY" as headshot %}
        <a href="http://com.mykonosbiennale.static.s3.amazonaws.com/{{artist.headshot}}" target="_blank"><img class="uk-comment-avatar" src="http://com.mykonosbiennale.static.s3.amazonaws.com/{{headshot}}"    width="{headshot.width}}" height="{{headshot.height}}"  alt="{{artist.name}}"></a>
          {% endthumbnail %}
           {% endif %}
            <h1>{{object.name|title}}</h1>
            <div class="uk-comment-meta">{{object.country}}</div>
        
        </header>


        {% if object.statement %}
            <h3> Statement </h3>
            <div class="uk-comment-body">{{object.statement}}</div>
        {% endif %}

        {% if object.bio %}
            <h3> Bio </h3>
            <div class="uk-comment-body">{{object.bio}}</div>
        {% endif %}
        
        
        
        
          

      <div class="uk-slidenav-position" data-uk-slider="{infinite: true}" style="max-width:700px;"> 
    <div class="uk-slider-container">
        <ul class="uk-slider ">
            {% for art in object.art_set.all %}

                {% if art.photo %}
            {% thumbnail art.photo  "400" crop="center"  as photo %}
            <a href="http://com.mykonosbiennale.static.s3.amazonaws.com/{{art.photo}}" target="_blank"><li><img src="{{ photo.url }}" class="uk-responsive-width" width="{{photo.width}}" height="{{photol.height}}" alt="Mykonos Biennale 2015 - Film Festival -  {{art.title} - screen shot" />
                 {% endthumbnail %}
                <h2>{{ art.title}}</h2>
                </li></a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <a class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slider-item="previous" href="#" draggable="true"></a>

<a class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slider-item="next" href="#" draggable="true"></a>
</div>                     


</article>
     

     
        </div>
     </div>
     </div>
    
    


 
    
    
    
    </body>
</html>