{% load re_tags %}
{% load thumbnail %}
{% load staticfiles %}
{% load pipeline %}
<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
{% include "seo.html" %}
	<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://getuikit.com/docs/css/uikit.docs.min.css">
	<link rel="stylesheet" href="{% static "css/film_detail.css" %}">
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/uikit.min.js"></script>
		<script src="/static/js/components/grid.min.js"></script>
	<style>
		.uk-panel {
			padding: 50px;
		}

		.page { padding-left:0px; }
    </style>
</head>

<body class="uk-height-1-1"  id="invite">
	 <div class="uk-container uk-container-center">
        <ul id="filter" class="uk-subnav">
                <li class="uk-active" data-uk-filter=""><a href="#">All</a></li>
                <li data-uk-filter="test-a"><a href="#">Test A</a></li>
                <li data-uk-filter="test-b"><a href="#">Test B</a></li>
            </ul>

            <div class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4" data-uk-grid="{controls: '#filter', filter:'test-a'}">
    {% for art in arts %}
     <div data-uk-filter="art.type">
                    <div class="uk-panel"><img src="{{art.image}}"</div>
                </div>
	{% endfor %}
		 </div>
	</div>
</body>
</html>
